################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Swsu.DH/.vs/Swsu.DH
/Swsu.GH/.vs/Swsu.GH/v16/Server/sqlite3/db.lock
